<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="">
      <span class="ms-2 d-none d-lg-block">Trang quản lý</span>
    </a>
    <!-- <i class="bi bi-list toggle-sidebar-btn" style="color: white"></i> -->
  </div><!-- End Logo -->

  <!-- <div class="search-bar">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
      <input type="text" name="query" placeholder="Search" title="Enter search keyword">
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div> -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle " href="#">
          <i class="bi bi-search"></i>
        </a>
      </li><!-- End Search Icon-->




      <li style="margin-right: 40px;" sclass="nav-item dropdown pe-3">
        <ng-container *ngIf="userResponse">
          <a class="nav-link nav-profile d-flex align-items-center pe-0  nav-name" (click)="togglePopover($event)"
            data-bs-toggle="dropdown">
            <span style="color: white;" class="d-none d-md-block dropdown-toggle ps-2">{{ userResponse.fullname }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ userResponse.fullname }}</h6>
              <span>{{ userResponse.phone_number }}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" (click)="handleItemClick(0)">
                <i class="bi bi-person"></i>
                <span>Thông tin cá nhân</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" (click)="logout()">
                <i class="bi bi-box-arrow-right"></i>
                <span>Đăng xuất</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </ng-container>
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " routerLink="/admin/dashboard">
        <i class="bi bi-grid"></i>
        <span>Thống kê</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" (click)="showAdminComponent('users')"
        data-bs-toggle="collapse">
        <i class="bi bi-menu-button-wide"></i><span>Quản lý người dùng</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="/admin/users">
            <i class="bi bi-circle"></i><span>Danh sách người dùng</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/users/insert">
            <i class="bi bi-circle"></i><span>Thêm người dùng</span>
          </a>
        </li>



      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Quản lý sản phẩm</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="/admin/products" (click)="showAdminComponent('products')">
            <i class="bi bi-circle"></i><span>Danh sách sản phẩm</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/products/insert">
            <i class="bi bi-circle"></i><span>Thêm sản phẩm</span>
          </a>
        </li>

      </ul>
    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" (click)="showAdminComponent('orders')"
        data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Quản lý đơn hàng</span><i
          class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="/admin/orders" (click)="showAdminComponent('orders')">
            <i class="bi bi-circle"></i><span>Danh sách đơn hàng</span>
          </a>
        </li>
      </ul>
    </li><!-- End Tables Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bar-chart"></i><span>Quản lý danh mục</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a (click)="showAdminComponent('categories')" routerLink="/admin/categories">
            <i class="bi bi-circle"></i><span>Danh sách danh mục</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/categories/insert">
            <i class="bi bi-circle"></i><span>Thêm danh mục</span>
          </a>
        </li>

      </ul>
    </li><!-- End Charts Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse">
        <i class="fa-regular fa-image"></i><span>Quản lý hình ảnh</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a (click)="showAdminComponent('product_images')" routerLink="/admin/product_images">
            <i class="bi bi-circle"></i><span>Danh sách hình ảnh</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/product_images/insert">
            <i class="bi bi-circle"></i><span>Thêm hình ảnh</span>
          </a>
        </li>

      </ul>
    </li><!-- End Icons Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#articles-nav" data-bs-toggle="collapse">
        <i class="fa-regular fa-newspaper"></i><span>Quản lý tin tức</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="articles-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="/admin/articles">
            <i class="bi bi-circle"></i><span>Danh sách tin tức</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/articles/insert">
            <i class="bi bi-circle"></i><span>Thêm tin tức</span>
          </a>
        </li>
      </ul>
    </li><!-- End Icons Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#comments-nav" data-bs-toggle="collapse">
        <i class="fa-regular fa-comment"></i><span>Quản lý đánh giá</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="comments-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="/admin/comments">
            <i class="bi bi-circle"></i><span>Danh sách đánh giá</span>
          </a>
        </li>

      </ul>
    </li><!-- End Icons Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#coupons-nav" data-bs-toggle="collapse">
        <i class="fa-regular fa-credit-card"></i><span>Quản lý mã giảm giá</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="coupons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="/admin/coupons">
            <i class="bi bi-circle"></i><span>Danh sách mã giảm giá</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/coupons/insert">
            <i class="bi bi-circle"></i><span>Thêm mã giảm giá</span>
          </a>
        </li>
      </ul>
    </li><!-- End Icons Nav -->


  </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

  <!--  <div class="pagetitle">-->
  <!--    <h1>Dashboard</h1>-->
  <!--    <nav>-->
  <!--      <ol class="breadcrumb">-->
  <!--        <li class="breadcrumb-item"><a href="index.html">Home</a></li>-->
  <!--        <li class="breadcrumb-item active">Dashboard</li>-->
  <!--      </ol>-->
  <!--    </nav>-->
  <!--  </div>&lt;!&ndash; End Page Title &ndash;&gt;-->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <router-outlet></router-outlet>


        </div>
      </div><!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">



      </div><!-- End Right side columns -->

    </div>
  </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="credits">
    Designed by <a>Lê Minh Tiến</a>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>