

<div class="col-md-6">
 
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Cập nhật ảnh thể loại</h4>


      <form class="row g-3" >
        <div class="col-md-12">
          <div class="thumbnail-container">
            <div *ngIf="category">
              <img [src]="category.thumbnail" style="width: 400px; height: 250px;" >
              <ng-template [ngIf]="!category.thumbnail" #noThumbnail>
                <h2>Không hình ảnh</h2>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <label for="name" class="form-label">Ảnh<span style="color: red;"> (*)</span></label>
          <input type="file" id="thumbnail" class="form-control" name="thumbnail" (change)="onFileChange($event)" accept="image/*">
        </div>
        
          <div style="text-align: right;">
            <button style="margin-right: 10px;" type="submit" (click)="uploadThumbnail()" class="btn btn-primary">Cập nhật</button>
            <button type="reset" class="btn btn-secondary" routerLink="/admin/categories">Quay lại</button>
          </div>
      </form>
    </div>
  </div>
</div>
