<div class="col-md-6">
  <form (ngSubmit)="insertCategory()">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Thêm thể loại</h4>

        <!-- Multi Columns Form -->
        <div class="row g-3">
          <div class="col-md-12">
            <label for="name" class="form-label">Tên thể loại<span style="color: red;"> (*)</span></label>
            <input type="text" class="form-control" [(ngModel)]="insertCategoryDTO.name" name="name"
              class="form-control" required="">
          </div>
          <div class="" style="text-align: right;">
            <button style="margin-right: 10px;" type="submit" class="btn btn-primary">Thêm mới</button>
            <button type="reset" class="btn btn-secondary" routerLink="/admin/categories">Quay lại</button>
          </div>
        </div><!-- End Multi Columns Form -->

      </div>
    </div>
  </form>
</div>