<div class="col-md-8">

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Cập nhật đánh giá</h4>
      <form class="row g-3" [formGroup]="updateCommentForm" (ngSubmit)="onSubmit()">
        <div class="col-md-12">
          <div class="thumbnail-container">
            <label for="content">Đánh giá</label>
            <textarea id="content" formControlName="content" class="form-control" rows="3"></textarea>
          </div>
        </div>
        <div style="text-align: right;">
          <button style="margin-right: 10px;" type="submit" class="btn btn-primary">Cập nhật</button>
          <button type="reset" class="btn btn-secondary" routerLink="/admin/comments">Quay lại</button>
        </div>
      </form>
    </div>
  </div>
</div>