 ::ng-deep mat-dialog-container {
    display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    margin-left: 500px;
    margin-bottom: 500px;
}
/*
::ng-deep mat-dialog-container > * {
    flex-shrink: 0;
}

::ng-deep mat-dialog-container {
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
  }
  

  ::ng-deep mat-dialog-container {
    transition: all 0.3s ease;
  }
  

  ::ng-deep .cdk-overlay-container .cdk-overlay-pane {
    z-index: 1000 !important;
  } */