<!-- FOOTER -->
<footer>
  <div class="footer-area bg-light">
    <div class="container">
      <div class="row mt-3">
        <div class="col-md-4">
          <div class="footer-content">
            <div class="footer-head">
              <div class="footer-logo">
                <h2>NexoHome</h2>
              </div>
              <p>NexoHome - Địa chỉ tin cậy chuyên cung cấp các sản phẩm điện máy, điện lạnh, gia dụng chính hãng với giá cả cạnh tranh. Với hơn 10 năm kinh nghiệm trong lĩnh vực phân phối thiết bị điện tử, chúng tôi tự hào mang đến cho khách hàng những sản phẩm chất lượng cao, chế độ bảo hành uy tín cùng dịch vụ chăm sóc khách hàng tận tâm. (Xem Thêm).</p>
              <div class="footer-icons">
                <ul>
                  <li class="icon-face">
                    <a href="#"><i class=" bi bi-facebook"></i></a>
                  </li>
                  <li class="icon-twitter">
                    <a href="#"><i class=" bi bi-twitter"></i></a>
                  </li>
                  <li class="icon-insta">
                    <a href="#"><i class=" bi bi-instagram"></i></a>
                  </li>
                  <li class="icon-youtube">
                    <a href="#"><i class="icon-youtube fa-brands fa-youtube"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- end single footer -->
        <div class="col-md-4">
          <div class="footer-content">
            <div class="footer-head">
              <h4>Thông tin</h4>
              <p>
                Cửa hàng: Đường 419, Bình Phú, Thạch Thất, Hà Nội
              </p>
              <div class="footer-contacts">
                <p><span>Điện thoại:</span> +123 456 789</p>
                <p><span>Email:</span> nexohome&#64;gmail.com</p>
                <p><span>Thời gian:</span> 9am-5pm</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end single footer -->
        <div class="col-md-4">
          <!-- <div class="footer-content">
            <div class="footer-head">
              <h4>Instagram</h4>
              <div class="flicker-img">
                <a href="#"><img src="./assets/imgs/gallery/sanpham5.jpg" width="115" height="95" alt=""></a>
                <a href="#"><img src="./assets/imgs/gallery/sanpham2.jpg" width="115" height="95" alt=""></a>
                <a href="#"><img src="./assets/imgs/gallery/sanpham7.jpg" width="115" height="95" alt=""></a>
                <a href="#"><img src="./assets/imgs/gallery/sanpham8.jpg" width="115" height="95" alt=""></a>
                <a href="#"><img src="./assets/imgs/gallery/sanpham3.jpg" width="115" height="95" alt=""></a>
                <a href="#"><img src="./assets/imgs/gallery/sanpham9.jpg" width="115" height="95" alt=""></a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="footer-area-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="copyright text-center">
            <p>
              &copy; Copyright <strong>NexoHome</strong>. All Rights Reserved
            </p>
          </div>
          <div class="credits text-light">
            Designed by NexoHome
          </div>
        </div>
      </div>
    </div>
  </div>
</footer><!-- End  Footer -->

