<div class="container">
  <form (ngSubmit)="insertProduct()" enctype="multipart/form-data">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Thêm sản phẩm</h4>

        <!-- Multi Columns Form -->
        <div class="row g-3">
          <div class="col-md-6">
            <label for="name" class="form-label">Tên sản phẩm<span style="color: red;"> (*)</span></label>
            <input type="text" id="name" [(ngModel)]="insertProductDTO.name" name="name" class="form-control" required>
          </div>
          <div class="col-md-6">
            <label for="stock" class="form-label">Số lượng tồn<span style="color: red;"> (*)</span></label>
            <input type="number" id="stock" [(ngModel)]="insertProductDTO.stock" name="stock" class="form-control"
              required min="0">
          </div>

          <div class="col-md-6">
            <label for="importPrice" class="form-label">Giá nhập<span style="color: red;"> (*)</span></label>
            <input type="number" id="importPrice" [(ngModel)]="insertProductDTO.importPrice" name="importPrice"
              class="form-control col-md-3" required>
          </div>
          <div class="col-md-6">
            <label for="price" class="form-label">Giá bán<span style="color: red;"> (*)</span></label>
            <input type="number" id="price" [(ngModel)]="insertProductDTO.price" name="price"
              class="form-control col-md-3" required>
          </div>
          <div class="col-md-12 mt-3">
            <label for="description" class="form-label">Nội dung<span style="color: red;"> (*)</span></label>
            <textarea id="description" [(ngModel)]="insertProductDTO.description" name="description"
              class="form-control" required></textarea>
          </div>
          <div class="col-md-6">
            <label for="date-of-birth" class="form-label">Thể loại<span style="color: red;"> (*)</span></label>
            <select id="category" [(ngModel)]="insertProductDTO.category_id" name="category" class="form-control"
              required>
              <ng-container *ngFor="let category of categories; trackBy: trackCategory">
                <option [value]="category.id">{{ category.name }}</option>
              </ng-container>
            </select>
          </div>
          <div class="col-6">
            <label for="address" class="form-label">Chọn ảnh (Tối đa 3 ảnh)</label>
            <input type="file" id="images" name="images" class="form-control" multiple (change)="onFileChange($event)"
              accept="image/*">
          </div>

          <div class="" style="text-align: right;">
            <button style="margin-right: 10px;" type="submit" class="btn btn-primary">Thêm mới</button>
            <button type="reset" class="btn btn-secondary" routerLink="/admin/products">Quay lại</button>
          </div>
        </div><!-- End Multi Columns Form -->

      </div>
    </div>
  </form>
</div>